<!DOCTYPE html>{% load staticfiles %}
<html>
    <head>
        <title>Movement Improvement CRM</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css" />
        {% block css %}{% endblock %}
        <script type="text/javascript" src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.23.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/backbone.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
        <script type="text/javascript" src="{% static 'libs/django.mustache.js' %}"></script>
        <script>
            // (Optional) Do this if you are using csrf protection:
            // See: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
            var oldSync = Backbone.sync;
            Backbone.sync = function(method, model, options) {
                options.beforeSend = function(xhr){
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                };
                return oldSync(method, model, options);
            };
        </script>
        {% block js %}{% endblock %}
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">WigglyCRM</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">People</a></li>
              <li><a href="#contact">Reports</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div> <!-- /container -->

    </body>
</html>