<div class="atm-class model">
    <div class="atm-class-header model-header btn btn-success btn-large btn-block" type="button" id="atm-class-{{ id }}">
        <i class="icon-leaf icon-white"></i>
        <span class="date">
            {{ dateDisplay }}
        </span>
        <span class="name">
            {{ name }}
        </span>
    </div>
    <div class="atm-class-info model-info">
        <form action="backbone/classes/atmclass/{{ id }}" class="condensed-form">
            <table class="table table-condensed">
                {{ #formFields }}
                <tr>
                    <th>{{ label }}</th>
                    <td>
                        <div class="error" id="{{ field }}-errors"></div>
                        <input type="text" name="{{ field }}" value="{{ data }}" />
                    </td>
                </tr>
                {{/formFields}}
                <tr>
                    <td colspan="2" class="button-row">                        
                        <button class="btn btn-mini btn-success save">Save</button>
                        <button class="btn btn-mini cancel">Cancel</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>